<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oocl.manlimeng.androidstudyproject" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ViewStudyActivity"
            android:label="@string/title_activity_view_study" />
        <activity
            android:name=".UIActivity.SelfCreateActivity"
            android:label="@string/title_activity_self_create" />
        <activity
            android:name=".UIActivity.LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" />
        <activity
            android:name=".UIActivity.TableLayoutActivity"
            android:label="@string/title_activity_table_layout" />
        <activity
            android:name=".UIActivity.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".UIActivity.RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" />
        <activity
            android:name=".UIActivity.GridLayoutActivity"
            android:label="@string/title_activity_grid_layout" />
        <activity
            android:name=".UIActivity.TextViewActivity"
            android:label="@string/title_activity_text_view" />
        <activity
            android:name=".UIActivity.EditTextActivity"
            android:label="@string/title_activity_edit_text" />
        <activity
            android:name=".UIActivity.ButtonActivity"
            android:label="@string/title_activity_button" />
        <activity
            android:name=".UIActivity.ImageViewActivity"
            android:label="@string/title_activity_image_view" />
        <activity
            android:name=".UIActivity.ImageButtonActivity"
            android:label="@string/title_activity_image_button" />
        <activity
            android:name=".UIActivity.ArrayListViewActivity"
            android:label="@string/title_activity_array_list_view" />
        <activity
            android:name=".UIActivity.ExtendsListActivity"
            android:label="@string/title_activity_extends_list" />
        <activity
            android:name=".UIActivity.SimpleAdepterActivity"
            android:label="@string/title_activity_simple_adepter" />
        <activity
            android:name=".UIActivity.BaseAdapterActivity"
            android:label="@string/title_activity_base_adapter" />
        <activity
            android:name=".UIActivity.AutoCompleteTextActivity"
            android:label="@string/title_activity_auto_complete_text" />
        <activity
            android:name=".UIActivity.GridViewActivity"
            android:label="@string/title_activity_grid_view" />
        <activity
            android:name=".UIActivity.ExpandableListViewActivity"
            android:label="@string/title_activity_expandable_list_view" />
        <activity
            android:name=".UIActivity.SpinnerActivity"
            android:label="@string/title_activity_spinner" />
        <activity
            android:name=".UIActivity.AdapterViewFlipperActivity"
            android:label="@string/title_activity_adapter_view_flipper" />
        <activity
            android:name=".UIActivity.StackViewActivity"
            android:label="@string/title_activity_stack_view" />
        <activity
            android:name=".UIActivity.ProgressBarActivity"
            android:label="@string/title_activity_progress_bar" />
        <activity
            android:name=".UIActivity.SeekBarActivity"
            android:label="@string/title_activity_seek_bar" />
        <activity
            android:name=".UIActivity.ViewSwicherActivity"
            android:label="@string/title_activity_view_swicher" />
        <activity
            android:name=".UIActivity.ImageSwitcherActivity"
            android:label="@string/title_activity_image_switcher" />
        <activity
            android:name=".UIActivity.TextSwitcherActivity"
            android:label="@string/title_activity_text_switcher" />
        <activity
            android:name=".UIActivity.ViewFlipperActivity"
            android:label="@string/title_activity_view_flipper" />
        <activity
            android:name=".UIActivity.ToastActivity"
            android:label="@string/title_activity_toast" />
        <activity
            android:name=".UIActivity.PickerActivity"
            android:label="@string/title_activity_picker" />
        <activity
            android:name=".UIActivity.SearchViewActivity"
            android:label="@string/title_activity_search_view" />
        <activity
            android:name=".UIActivity.TabHostActivity"
            android:label="@string/title_activity_tab_host" />
        <activity
            android:name=".UIActivity.ScrollViewActivity"
            android:label="@string/title_activity_scroll_view" />
        <activity
            android:name=".UIActivity.NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".UIActivity.OtherActivity"
            android:label="@string/title_activity_other" />
        <activity
            android:name=".UIActivity.DialogActivity"
            android:label="@string/title_activity_dialog" />
        <activity
            android:name=".UIActivity.SelfViewDialogActivity"
            android:label="@string/title_activity_self_view_dialog" />
        <activity
            android:name=".UIActivity.ThemeViewDialogActivity"
            android:label="@string/title_activity_theme_view_dialog"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".UIActivity.PopupWindowActivity"
            android:label="@string/title_activity_popup_window" />
        <activity
            android:name=".UIActivity.MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".UIActivity.MenuFunctionActivity"
            android:label="@string/title_activity_menu_function" />
        <activity
            android:name=".UIActivity.ContextMenuActivity"
            android:label="@string/title_activity_context_menu" />
        <activity
            android:name=".UIActivity.XMLMenuActivity"
            android:label="@string/title_activity_xmlmenu" />
        <activity
            android:name=".UIActivity.PopupMenuActivity"
            android:label="@string/title_activity_popup_menu" />
        <activity
            android:name=".UIActivity.ActionBarActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".UIActivity.ActionBarTestActivity"
            android:label="@string/title_activity_action_bar_test" />
        <activity
            android:name=".UIActivity.ActionBarItemActivity"
            android:label="@string/title_activity_action_bar_item" />
        <activity
            android:name=".UIActivity.ActionBarHomeActivity"
            android:label="@string/title_activity_action_bar_home" />
        <activity
            android:name=".UIActivity.ActionBarHomeFirstActivity"
            android:label="@string/title_activity_action_bar_home_first" />
        <activity
            android:name=".UIActivity.ActionBarHomeSecondActivity"
            android:label="@string/title_activity_action_bar_home_second" />
        <activity
            android:name=".UIActivity.ActionBarViewActivity"
            android:label="@string/title_activity_action_bar_view" />
        <activity
            android:name=".UIActivity.ActionBarTabActivity"
            android:label="@string/title_activity_action_bar_tab" />
        <activity
            android:name=".UIActivity.AcrionBarDropDownActivity"
            android:label="@string/title_activity_acrion_bar_drop_down" />
        <activity
            android:name=".UIActivity.AsyncTaskActivity"
            android:label="@string/title_activity_async_task" />
        <activity
            android:name=".UIActivity.HandlerActivity"
            android:label="@string/title_activity_handler" />
        <activity
            android:name=".UIActivity.HandlerInChildActivity"
            android:label="@string/title_activity_handler_in_child" />
        <activity
            android:name=".UIActivity.ActivityStudy.LancherActivityCaseActivity"
            android:label="@string/title_activity_lancher_activity_case" />
        <activity
            android:name=".UIActivity.ActivityStudy.ExpandableListTestActivity"
            android:label="@string/title_activity_expandable_list_test" />
        <activity
            android:name=".UIActivity.ActivityStudy.PreferenceTestActivity"
            android:label="@string/title_activity_preference_test" />
        <activity
            android:name=".UIActivity.ActivityStudy.BundleTestActivity"
            android:label="@string/title_activity_bundle_test" />
        <activity
            android:name=".UIActivity.ActivityStudy.ResultBundleActivity"
            android:label="@string/title_activity_result_bundle" />
        <activity
            android:name=".UIActivity.ActivityStudy.ActivityForResultActivity"
            android:label="@string/title_activity_activity_for_result" />
        <activity
            android:name=".UIActivity.ActivityStudy.SelectCityActivity"
            android:label="@string/title_activity_select_city" />
        <activity
            android:name=".UIActivity.FragmentStudy.StaticUseFragmentActivity"
            android:label="@string/title_activity_static_use_fragment" />
        <activity
            android:name=".UIActivity.FragmentStudy.studyFragmentActivity"
            android:label="@string/title_activity_study_fragment" />
        <activity
            android:name=".UIActivity.ActivityStudy.ShowNewActivity"
            android:label="@string/title_activity_show_new" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="www.163.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.FragmentStudy.DynamicFragmentActivity"
            android:label="@string/title_activity_dynamic_fragment" />
        <activity
            android:name=".UIActivity.FragmentStudy.FragmentConnectActivity"
            android:label="@string/title_activity_fragment_connect" />
        <activity
            android:name=".UIActivity.FragmentStudy.BookTwoPaneActivity"
            android:label="@string/title_activity_book_two_pane" >
        </activity>
        <activity
            android:name=".fragmentTranslateValue.activitytofragment.ActivityToFragmentActivity"
            android:label="ActivityToFragment" >
        </activity>
        <activity
            android:name=".fragmentTranslateValue.fragmenttoactivity.FragmentToActivityActivity"
            android:label="@string/title_activity_fragment_to" >
        </activity>
        <activity
            android:name=".fragmentTranslateValue.fragmenttofragment.FragmentToFragmentActivity"
            android:label="@string/title_activity_fragment_to_fragment" >
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.IntentActivity"
            android:label="@string/title_activity_intent" >
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.IntentResultActivity"
            android:label="@string/title_activity_intent_result" >
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.CategoryTestActivity"
            android:label="@string/title_activity_category_test" >
            <intent-filter>
                <action android:name="com.oocl.manlimeng.androidstudyproject.STUDY_ACTION" />

                <category android:name="com.oocl.manlimeng.androidstudyproject.STUDY_CATIGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.OverWriteDataTypeActivity"
            android:label="@string/title_activity_over_write_data_type" >
            <intent-filter>
                <action android:name="com.oocl.manlimeng.androidstudyproject.STUDY_ACTION" />

                <category android:name="com.oocl.manlimeng.androidstudyproject.STUDY_CATIGORY" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="abc/xyz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.IntentDataActivity"
            android:label="@string/title_activity_intent_data" >
            <intent-filter>
                <action android:name="com.oocl.manlimeng.androidstudyproject.STUDY_ACTION" />

                <category android:name="com.oocl.manlimeng.androidstudyproject.STUDY_CATIGORY" />

                <data android:scheme="lee" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.BothTypeAndDataActivity"
            android:label="@string/title_activity_both_type_and_data" >
            <intent-filter>
                <action android:name="com.oocl.manlimeng.androidstudyproject.STUDY_ACTION" />

                <category android:name="com.oocl.manlimeng.androidstudyproject.STUDY_CATIGORY" />

                <data android:mimeType="abc/xyz" />
                <data android:scheme="lee" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ActivityStudy.SchemeIntentActivity"
            android:label="@string/title_activity_scheme_intent" >
            <intent-filter>
                <action android:name="com.oocl.manlimeng.androidstudyproject.STUDY_ACTION" />

                <category android:name="com.oocl.manlimeng.androidstudyproject.STUDY_CATIGORY" />

                <data android:scheme="rex" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.AttributeStudyActivity"
            android:label="@string/title_activity_attribute_study" >
        </activity>
        <activity
            android:name=".UIActivity.HandlerInMainActivity"
            android:label="@string/title_activity_handler_in_main" >
        </activity>
        <activity
            android:name=".UIActivity.FragmentStudy.HandlerInMain2Activity"
            android:label="@string/title_activity_handler_in_main2" >
        </activity>
        <activity
            android:name=".UIActivity.SaveStudy.SaveStudyActivity"
            android:label="@string/title_activity_save_study" >
        </activity>
        <activity
            android:name=".UIActivity.SaveStudy.SaveStudySharedPreferenceActivity"
            android:label="@string/title_activity_save_study_shared_preference" >
        </activity>
        <activity
            android:name=".UIActivity.SaveStudy.SaveStudyFileActivity"
            android:label="@string/title_activity_save_study_file" >
        </activity>
        <activity
            android:name=".UIActivity.SaveStudy.SaveStudySDActivity"
            android:label="@string/title_activity_save_study_sd" >
        </activity>
        <activity
            android:name=".UIActivity.SaveStudy.SaveStudySQLITEActivity"
            android:label="@string/title_activity_save_study_sqlite" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".googlemap.MapsStudyActivity"
            android:label="@string/title_activity_maps_study" >
        </activity>
        <activity
            android:name=".contentprovider.ContentProviderActivity"
            android:label="@string/title_activity_content_provider" >
        </activity>
        <activity
            android:name=".contentprovider.ContentProviderSimpleActivity"
            android:label="@string/title_activity_content_provider_simple" >
        </activity>

        <provider
            android:name=".contentprovider.FirstProvider"
            android:authorities="com.oocl.manlimeng.androidstudyproject.contentprovider.FirstProvider"
            android:exported="true" />
        <provider
            android:name=".contentprovider.DictProvider"
            android:authorities="com.oocl.manlimeng.androidstudyproject.contentprovider.DictProvider"
            android:exported="true" />

        <activity
            android:name=".servicestudy.ServiceStudyActivity"
            android:label="@string/title_activity_service_study" >
        </activity>
        <activity
            android:name=".servicestudy.SimpleServiceActivity"
            android:label="@string/title_activity_simple_service" >
        </activity>

        <service android:name=".servicestudy.MySimpleService" />
        <service android:name=".servicestudy.MyBindService"></service>

        <activity
            android:name=".servicestudy.BindServiceActivity"
            android:label="@string/title_activity_bind_service" >
        </activity>
    </application>

</manifest>
